html,
body {
  min-width: 100%;
  /* overflow-x: hidden; */
}

.fit-image {
  object-fit: cover;
  height: auto;
  width: 100%;
}

@media (max-width: 991px) {
  .hide-mobile {
    display: none;
  }
  .home-body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    color: white;
  }

  .rounded-icon {
    border-radius: 50%;
    padding-top: 18px;
    color: white;
    font-size: 36px;
    width: 72px;
    height: 72px;
    cursor: pointer;
  }

  .home-search {
    margin: auto;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
}

@media (min-width: 992px) {
  .hide-desktop {
    display: none;
  }

  .rounded-icon {
    border-radius: 50%;
    padding-top: 24px;
    color: white;
    font-size: 48px;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .home-body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    color: white;
  }
}

.navbar {
  background-color: black;
}

.footer {
  background-color: black;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
}
.nav-text {
  color: white;
}

.home-body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  color: white;
}

.home-search {
  margin: auto;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.form-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    transparent;
  height: 350px;

  box-shadow: 1px 1px 2px gray, 0 0 25px rgb(224, 224, 224),
    0 0 5px rgb(223, 222, 222);
}
