@font-face {
  font-family: 'Supermarket';
  src: url('../fonts//supermarket/supermarket.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  scroll-behavior: smooth;
  min-width: 100%;
  font-family: 'Supermarket' !important;
  padding-bottom: 40px;
  background-color: white !important;
  font-size: 20px;
}
.card {
  height: 100%;
}

.stay-behind {
  z-index: 0;
}

.tales {
  width: 100%;
}
.carousel-inner{
  max-width: 1600px !important;
  width: 100%;
  height: 90%;
  max-height:  900px !important;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  border: 1px solid #066938 !important;
  background-color: white !important;
}

.carousel-indicators .active {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  border-color: 3px solid #066938 !important;
  background-color:#066938 !important;
}

body {
  background-color: lightslategray;
}

.system-head{
  background-color: #066938;
  left:50%;
  color: white;
  font-size: 48px;
  padding: 30px 30px 5px 30px !important;
}

.b-pagination {
  position: relative;
  z-index: 1;
}

.card-header {
  font-weight: bold;
}

.fit-image {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.w-180 {
  min-width: 180px;
}

#input-field{
    border-radius: 30px;
    background-color: #f1f1f3;
}

#search-button{
  border-radius: 30px;
  background-color: #cce608;
  color: #066938;
}

@media (max-width: 991px) {
  .hide-mobile {
    display: none;
  }

  .icon{
    object-fit: cover !important;
    display: block;
  }

  .rounded-prepend-icon {
    border-radius: 50%;
    padding-top: 18px;
    font-size: 36px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
  }  
  
  .carousel-indicators {
    margin: 20px !important;
    bottom: -80px !important;
  }

  .form-background {
    min-height: 1300px;
    height: 100%;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 2px gray, 0 0 25px #e0e0e0, 0 0 5px #dedede;
  }

  .nav-link{
    color: black !important;
  }

  .nav-link.active{
    color: #17764d !important;
  }
}


@media (max-width: 1200px) and (min-width: 992px) {
  .carousel-indicators {
    margin: 20px !important;
    bottom: -100px !important;
  }
}

@media (max-width: 1600px) and (min-width: 1201px) {
  .carousel-indicators {
    margin: 20px !important;
    bottom: -130px !important;
  }
}

@media (min-width: 1601px) {
  .carousel-indicators {
    margin: 20px !important;
    bottom: -150px !important;
  }
}

@media (min-width: 992px) and (max-width: 1315px) {
  .nav-item{
    text-align: center;
    border-color: #8cb267;
    border-left: 3px solid #8cb267;
  }
  .last-nav{
    border-right: 3px solid #8cb267;
  }
}


@media (min-width: 1316px) {
  .nav-item{
    min-width: 130px;
    text-align: center;
    border-color: #8cb267;
    border-left: 3px solid #8cb267;
  }

  .last-nav{
    border-right: 3px solid #8cb267;
  }

}

@media (min-width: 992px) {
  .hide-desktop {
    display: none;
  }

  .rounded-icon {
    display: inline-block;
    border-radius: 50%;
    padding-top: 18px;
    width: 100px !important;
    height: 100px !important;
    cursor: pointer;
    border: 10px double white ;
    text-align: center;
  }

  
  .rounded-prepend-icon {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    padding-top: 10px;
    width: 75px !important;
    height: 75px !important;
    cursor: pointer;
    border: 10px double white ;
    text-align: center;
    left: -15px;
    top: -15px;
  }

  .nav-link{
    padding: 0px !important;
    color: black !important;
  }

  .nav-link.active{
    padding: 0px !important;
    color: #17764d !important;
  }
  
  
  .nav-text {
    color: #17764d;
    padding: 0px 15px 0px 15px;
    text-align: center;
  }
  
  .nav-item{
    text-align: center;
    border-color: #8cb267;
    border-left: 3px solid #8cb267;
  }
  .zoom-box:hover {
    transition: transform 0.5s ease;
    transform: scale(1.25);
  }

  .form-background {
    min-height: 600px;
    height: 100%;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 2px gray, 0 0 25px #e0e0e0, 0 0 5px #dedede;
  }
}

.footer {
  background-color: black;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  z-index: 2;
}

.card{
  max-height: 200px;
}

.card-body{
  color: #066938 !important;
}


.card-text{
  color: #066938;
  margin-bottom: 0px;
}

.card-text a{
  color: #066938 !important;
}

.home-body {
  background-color: #066938;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 90%;
  padding: 5% 10% 5% 10%;
  color: white;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 200px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 200px;
}
.gmap_iframe {
  height: 200px !important;
}

